{
    "presets": [["es2015", { "modules": false }], "react", "stage-0"],
    "env": {
        "test": {
            "plugins": [
                ["__coverage__", {"ignore": "src/js/test"}], "rewire"
            ]
        }
    }
}
